
    <div class="w-3/6 m-auto p-4 text-stone-500 absolute bottom-0 left-0 right-0">
        <ul class="flex justify-evenly ">
            <li><a href="">About</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Jobs</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">API</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Top Accounts</a></li>
            <li><a href="">Hashtags</a></li>
            <li><a href="">Locations</a></li>
        </ul>
        <p class="my-2 text-center">©2022 talkBx from Me!</p>
    </div>
    <script src=""></script>   
</body>
</html>