<%- include('partials/header') -%>

<main>
    <div class="h-screen flex justify-center items-center">
        <div class="w-fit p-4 text-center rounded-lg bg-slate-50 shadow-xl" >
            <h1 class="m-2 p-4 text-stone-400 text-center text-6xl font-mono"><a href="/profile">talkBx <span class="underline decoration-pink-400">MVC</span></a></h1>
            <button class="p-1 mr-4 rounded bg-pink-400 shadow-md text-slate-50 text-xl  hover:bg-pink-500 font-thin"><a href="/login"> Log in</a></button>
            <button class="p-1 mr-4 rounded bg-pink-400 shadow-md text-slate-50 text-xl  hover:bg-pink-500 font-thin"><a href="/signup"> Sign up</a></button>
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>