<%- include('partials/header') -%>

<main>
  <div class="h-screen flex justify-center items-center">
    <div class="w-fit p-4  rounded-lg bg-slate-50 shadow-xl">
      <h1 class="p-4 text-stone-400 text-center text-6xl font-mono"><a href="/profile">talkBx <span class="underline decoration-pink-400">MVC</span></a></h1>
      <h1 class="text-2xl font-bold">Login</h1>
      <section>
        <!-- Will determine if there are any errors at the time of sign in -->
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
        <div><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div><%= el.msg %></div>
        <% }) %> <% } %>
  
        <form action="/login" method="POST">
          <div class="flex flex-col my-1">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" class="border-2 border-stone-400 rounded" />
          </div>
          <div class="flex flex-col my-1">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" id="exampleInputPassword1" name="password" class="border-2 border-stone-400 rounded" />
          </div>
          <button type="submit" class="p-1 mr-4 rounded bg-pink-400 shadow-md text-slate-50 text-xl  hover:bg-pink-500 font-thin">Submit</button>
        </form>
      </section>
    </div>
  </div>

</main>

<%- include('partials/footer') -%>