<%- include('partials/header') -%>
<main>
  
  <!-- Initial setup of our container ahd header -->
  <div class="min-h-screen flex justify-center items-center">
    <div class="w-fit p-4  rounded-lg bg-slate-50 shadow-xl">
      <h1 class="m-2 p-4 text-stone-400 text-center text-6xl font-mono"><a href="/profile">talkBx <span class="underline decoration-pink-400">MVC</span></a></h1>
      <h1 class="text-2xl font-bold">Sign Up:</h1>
      <section>
        <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
        <div><%= el.msg %></div>
        <% }) %>
        <% } %>
        <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
        <div><%= el.msg %></div>
        <% }) %>
        <% } %>

        <!-- Our form to sign up to our site -->
        <form action="/signup" method="POST">
          <div class="flex flex-col my-3">
            <label for="userName"></label>
            <input type="text" id="userName" name="userName" placeholder="User Name"
              class="p-0.5 border-2 border-stone-400 rounded">
          </div>
          <div class="flex flex-col my-3">
            <label for="exampleInputEmail1"></label>
            <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="E-mail"
              class="p-0.5 border-2 border-stone-400 rounded">
          </div>
          <div class="flex flex-col my-3">
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="Password"
              class="p-0.5 border-2 border-stone-400 rounded">
          </div>
          <div class="flex flex-col my-3">
            <label for="confirmPassword"></label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
              class="p-0.5 border-2 border-stone-400 rounded">
          </div>
          <button type="submit"class="p-0.5 mr-4 rounded bg-pink-400 shadow-md text-slate-50 text-xl  hover:bg-pink-500 font-thin">Sign up</button>
        </form>

        <p class="my-1">Already have an account? <a href="/login" class="text-pink-500">Log in</a></p>
      </section>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>